* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}


h1 {
    text-align : center;
    background-color: aquamarine;
    padding: 50px;
    margin: 0 0 50px;
    font-size: 3rem;
}


/* page index */

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card hr {
    color: rgba(250, 235, 215, 0.493);
    width: 100%;
    margin: 0;
    padding: 0;
}

.card {
    width: calc(90% / 3) ;
    margin: 20px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: antiquewhite;
}

.card header, .card .content {
    padding: 25px;
}

.card button, .show-description button {
    margin: 20px;
    padding: 10px;
    align-self: flex-end;
}

.card figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

.card figure img {
    width: 100%;
    height: auto;
}

/* page show */

.show-banner  {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    position: relative;
    
}

.show-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.show-banner h1 {
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 350px);
    width: 700px;
    height: 150px;
}

.show-presentation {
    width: 100%;
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

.show-presentation p {
    margin: 10px;
    padding: 25px;
    background-color: antiquewhite;
}

.show-description {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.show-description button {
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.add {
    margin: 0;
    color : white;
    background-color: orangered;
    padding: 10px 20px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: none;
}

/* formulaire */

form {
    background-color: antiquewhite;
    padding: 25px;
}

form div {
    margin: 20px;
}